body {
    background: lightpink;
}

label {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.container {
    width: 450px;
    background: pink;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-family: 'Century Gothic',sans-serif;
}

input {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}